<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <!--<link rel="stylesheet" href="/node_modules/typographist-static-devtools/devtools.css">
    <script type="text/javascript"
            src="/node_modules/typographist-static-devtools/dist/typographist-static-devtools.min.js" />-->
</head>
<body>
    {{ content }}
    <footer>
        <p>© 2018 - Kapralov Sergey</p>
    </footer>
    <!--<script>
        var button = new RhythmToggleButton();
        button.addTo("body");
    </script>-->
</body>
</html>
