---
layout: base
---
<header>
    <h1>{{ page.title }}</h1>
    <a href="#disqus_thread">Comments</a>
    •
    <a href="{{ site.scm }}/issues/new?title=Issue in chapter '{{page.title}}'">Report an issue</a>
    •
    <a href="/">Back</a>
</header>
<article>
    {{ content }}
</article>
<div id="disqus_thread"></div>
<script>
    var disqus_config = function () {
        this.page.url = document.location.href.split('?')[0].split('#')[0];
        this.page.identifier = this.page.url;
    };
    (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://pragmatic-objects.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>




